$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;
$color-grey: #fefefe;

$border-radius: 0.8rem;

$box-shadow: rgba(100, 100, 111, 0.2) 0 0.8rem 2.8rem 0;

$font-family: "Nunito", sans-serif;

$width: 768px;
